<html>
	<body>
		<h1>Project 2 Steps</h1>
		<p>1. Edit Gemfile to include: gem 'bootstrap=sass'</p>
		<p>2. Insert line: @import "bootstrap"; to app/assets/stylesheets/pages.css.scss</p>
		<p>3. Edit pages.css.scss with other css styling</p>
		<p>4. Add project_2 as an action to the pages controller</p>
		<p>5. Edit routes.rb to add project_2</p>
		<p>6. Add project_2.html.erb under View folder</p>

	</body>
</html>
